.contacts {
	text-align: center;
	padding: 90px 0px;
	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__text {
		max-width: 480px;
		font-family: Poppins;
		font-size: 18px;
		line-height: 27px;
		margin: 0px auto 40px;
	}

	&__button {
		display: inline-block;
		padding: 7px 22px;
		line-height: 27px;
		margin: 0px 0px 80px 0px;
		border-radius: 30px;
		background-color: #000;

		@include anim(0.3s, 0s);
	}

	&__button:hover {
		background-color: #606060;
	}

	&__button:active {
		position: relative;
		top: 3px;
	}

	&__socials {
		@include flexbox();
		justify-content: center;
		align-items: center;
		column-gap: 60px;
		margin: 0px 0px 40px 0px;
	}

	&__footer {
		line-height: 21px;
		color: #828282;
	}
}

.button {
	&__link {
		font-size: 18px;
		color: #FFFFFF;
	}
}
